* {
  margin: 0px;
  padding: 0px;
}

.container {
  padding: 10px;
  font-family: "Gabarito", sans-serif;
}

.container-nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  box-shadow: 0 3px 5px lightgrey;
  flex-wrap: wrap;
  padding: 10px 20px;
}

.container-nav__logo {
  height: auto;
  width: 100px;
}
.container-nav__search {
  padding: 10px;
  max-width: 300px;
  display: flex;
  align-items: center;
  border: 1px solid black;
  border-radius: 10px;
}
.container-nav__input {
  width: 100%;
  border: none;
}

.container-nav__input:focus {
  outline: none;
}

.container-nav a {
  text-decoration: none;
  color: black;
}

.container-nav button {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;
  border: none;
  background-color: rgb(174, 24, 174);
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.container-nav a:hover {
  color: darkgoldenrod;
}

.container-nav button:hover {
  transform: scale(1.05);
}

.container-title {
  padding: 10px;
  text-align: center;
  margin-top: 20px;
}

.container-title img {
  width: 100%;
  height: auto;
  max-width: 100%;
  display: block;
  object-fit: contain;
}


.container-menu__title {
  font-size: 35px;
  color: rgb(157, 21, 157);
  padding: 10px;
  text-align: center;
  margin-top: 40px;
}

.container-menu__image {
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 20px;
}

.container-menu__img:hover {
  transform: scale(1.05);
}

.container-menu__img {
  width: 250px;
  min-height: 320px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
  border: 1px solid rgb(206, 203, 203);
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.container-menu__img img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 8px;
}

.container-menu__img h3 {
  padding: 10px;
  text-align: center;
  color: rgb(137, 5, 137);
}

.container-menu__img p {
  font-weight: bold;
  padding: 5px;
}

.container-trend__title {
  font-size: 35px;
  color: rgb(157, 21, 157);
  padding: 10px;
  text-align: center;
  margin-top: 40px;
}

.container-topics {
  padding: 10px;
  box-shadow: 0px 0px 8px lightgrey;
  margin-top: 20px;
  margin-bottom: 20px;
}

.container-topics__title {
  font-size: 30px;
  text-align: center;
  color: rgb(174, 11, 174);
}

.container-topics:hover {
  border: 1px solid rgb(156, 10, 156);
}

.container-topics__list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  padding: 10px;
  gap: 10px;
}

.container-topics__list p {
  background-color: rgb(172, 3, 172);
  color: white;
  padding: 15px;
  border-radius: 20px;
  transition: 0.3s;
  margin-bottom: 10px;
  gap: 10px;
}

.container-topics__list p:hover {
  transform: scale(1.05);
  background-color: rgb(209, 139, 209);
}

.container-topics__search {
  margin: 10px auto;
  gap: 8px;
  border: 1px solid #aaa;
  border-radius: 10px;
  padding: 8px 12px;
  max-width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-topics__input {
  border: none;
  width: 100%;
}

.container-topics__input:focus {
  outline: none;
}

.container-topics__search:hover {
  transform: scale(1.05);
  border: 1px solid rgb(172, 8, 172);
}

.container-topics__button {
  padding: 5px 10px;
  background-color: rgb(149, 16, 149);
  color: white;
  font-weight: bolder;
  border: none;
  transition: 0.3s;
  border-radius: 10px;
}

.container-topics__button:hover {
  transform: scale(1.05);
  background-color: rgb(139, 85, 190);
}

.container-footer {
  padding: 10px;
  background-color: rgb(22, 21, 21);
}

.container-footer__one {
  display: flex;
  align-items: center;
  gap: 100px;
  padding: 10px;
  border-bottom: 1px solid white;
  margin-top: 10px;
  margin-bottom: 10px;
}

.container-footer__one h3 {
  color: goldenrod;
  padding: 10px;
}

.container-footer__one p {
  padding: 10px;
  color: white;
  cursor: pointer;
}

.container-footer__one p:hover {
  transform: scale(1.05);
}

.container-footer__two {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 10px;
  margin-top: 10px;
  color: white;
}

.footer-two__udemy {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  gap: 20px;
}

.footer-two__udemy img {
  width: 120px;
  height: 100%;
}

.footer-two__lan {
  display: flex;
  gap: 10px;
  align-items: center;
  cursor: pointer;
}

.footer-two__lan:hover {
  transform: scale(1.05);
  color: goldenrod;
}

.footer-two__setting {
  cursor: pointer;
}

.footer-two__setting:hover {
  transform: scale(1.05);
  color: goldenrod;
}
